<ul>
  <li><a routerLink="/members/add">New Member</a></li>
  <li><a routerLink="/members/archives">Archives</a></li>
</ul>
<div>
  <input type="text" (keyup)="keyUp.next($event)">
</div>
<div id="deleteMsg"></div>
<div class="memberForm">
  <!-- <table> -->
  <table *ngIf="(members$ | async)?.length>0; else noMember">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date Registered</th>
        <th>Status</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members$ | async">
        <td>{{ member?.id }}</td>
        <td>{{ member?.fullName }}</td>
        <td>{{ member?.dateAdded | date: 'medium' }}</td>
        <td>{{ member.status | setStatus }}</td>
        <td>
          <ul>
            <li><a routerLink="/members/{{ member?.id }}">View</a></li>
            <li><a routerLink="/members/edit/{{ member?.id }}">Edit</a></li>
            <li><a (click)="delete(member?.id)">Delete</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noMember>
 <p>No Member</p>
</ng-template>